.font-hei {
    font-family: "Microsoft YaHei","PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",  "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.font-kai {
    font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
}

.font-song {
    font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}

.font-fang-song {
    font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
}

.header{
    position: relative;
    min-height: 420px;
    color: #fff;
    background-image: linear-gradient(to top right, #3094E3, #247FC8 9%, #186AAC 30%, #163B80 73%, #424d73 );
    overflow: hidden;
}


.row{
    padding: 15px;
}

#welcome{
    position: relative;
    max-width: 730px;
    z-index: 1;
    margin: 20vh auto 0 auto;
}
#welcome div{
    max-width: 730px;
}


.about{
    background: linear-gradient(45deg, #6B14D3 0, #7A26E2 25%, #4962DD 60%);
    color: white;
}
.about .white{
    background-color: white;
    color: #0b0b0b;
    padding: 50px 0;
}
.about .white h2{
    font-size: 40px;
    line-height: 80px;
    margin:0;
}


.about .white blockquote{
    line-height: 35px;
}
.portfolio{
    background-color: #34495E;
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
h1.text-white{
    border: 5px solid white;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
.home_text h1{
    font-size: 4.286rem;
    font-weight: 700;
    line-height: 6.5rem;
}
.main_home{
    padding-bottom: 40px;
    padding-left: 5px;
}
.btn-default {
    border: 1px solid #f5f5f5;
    background-color: transparent;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0;
}




@media (max-width: 420px)
{
    nav.navbar.bootsnav .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
        color: #000;
    }
    nav.navbar.bootsnav .navbar-nav {
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
    }

    nav.navbar.bootsnav{
        background-color: white;
        color: #6f6f6f;
    }
    nav.navbar.bootsnav ul.nav > li > a{

        color: #6f6f6f;
    }
    #welcome{
        margin: 35vh auto 0 auto;
    }
}


@media (max-width: 400px){
    nav.navbar.bootsnav.navbar-fixed{
        background-color: white;
        color: #6f6f6f;
    }
    nav.navbar.bootsnav ul.nav > li > a{

        color: #6f6f6f;
    }
    #welcome{
        margin: 30vh auto 0 auto;
    }
    .home_text h1 {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 6.5rem;
    }
}
@media (max-width: 360px) {
    #welcome{
        margin: 26vh auto 0 auto;
    }
    .home_text h1{
        font-size: 30px;
        line-height: 80px;
        margin:0;
    }
}

.particles-js-canvas-el{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute!important;
    overflow: hidden;
}

