<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>HNIT-ACM</title>
    <link rel="shortcut icon"
          href="https://img2018.cnblogs.com/blog/1627056/201909/1627056-20190910154326049-394994833.jpg">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootsnav.css">
    <link rel="stylesheet" href="../static/css/robotIndex.css">
</head>

<body class="font-hei">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

<div class="header" id="particles-js">
    <nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color: white;" href="/join" target="_blank" class="navbar-brand">
                    Join Us
                </a>
            </div>
            <div style="color: white;font-size: 16px" id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#welcome">欢迎</a>
                    </li>
                    <li>
                        <a href="">首页</a>
                    </li>
                    <li>
                        <a href="http://doc.aldebaran.com/2-8/naoqi/index.html" target="_blank">技术</a>
                    </li>
                    <li>
                        <a href="http://www.hnitoj.cn" target="_blank">HNITOJ</a>
                    </li>
                    <li>
                        <a href="#portfolio">赛事赛项</a>
                    </li>
                    <li>
                        <a href="https://baike.baidu.com/item/湖南省大学生计算机程序设计大赛/2867837?fr=aladdin"
                           target="_blank">HNCPC</a>
                    </li>
                    <li>
                        <a href="https://www.softbankrobotics.com/" target="_blank">关于NAO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-white">HNIT - ACM</h1>
                        <br>
                        <h1 style="font-size: 25px">ACM 大学生程序设计竞赛<br>
                        </h1>
                    </div>
                    <div>
                        <a href="" target="_blank"
                           class="btn btn-default">报名</a>&nbsp;&nbsp;
                        <a href="" target="_blank"
                           class="btn btn-default">机器人入口</a>&nbsp;&nbsp;
                        <a href="" target="_blank"
                           class="btn btn-default">ACMer兵种树</a>&nbsp;&nbsp;
                        <a href="" target="_blank"
                           class="btn btn-default">ACM照片墙</a>&nbsp;&nbsp;
                        <a href="" target="_blank"
                           class="btn btn-default">NAOの照片墙</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<section id="about" class="about">
    <div class="white">
        <div class="container">
            <div class="row">
                <div class="main_about">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="about_content">
                            <h2>我们的目标</h2>
                            <div class="separator_left"></div>
                            <blockquote>
                                以赛促学，学以养赛<br>
                                努力提高自身的编程算法能力，并在竞赛中为学校、为团队取得优异成绩
                            </blockquote>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="about_bottom_content">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <div class="ab_head">
                                <h3>要求</h3></div>
                            <p> 1. 不会就学，不懂就问，态度积极。<br>
                                2. 面向大一，大二级的同学，专业，学院不限<br>
                                3. 逻辑思维良好，吃苦耐劳，有团队荣誉感，服从管理。<br>
                                4. 每天晚上的训练不能无故缺勤早退，若违反情况严重者，可考虑开除队籍。<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="ab_head">
                                <h3>训练内容</h3></div>
                            <p>1. C/C++/Java语言的学习。<br>
                                2. 基础算法的学习。<br><br>
                                刷题的同学可以可以去<br>
                                <a href="https://www.luogu.org/" style="color: #32ffb9;font-size: 18px"
                                   target="_blank">洛谷</a>&nbsp;
                                <a href="http://acm.hdu.edu.cn/" style="color: orangered;font-size: 18px"
                                   target="_blank">HDUOJ</a>&nbsp;
                                <a href="https://www.hnitoj.cn/" style="color: #84ecff;font-size: 18px"
                                   target="_blank">HNITOJ</a>
                                <br>
                            </p></div>
                    </div>
                </div>
                <br>
                <br>

                <div class="row">

                    <div class="col-md-6">
                        <div>
                            <div class="ab_head">
                                <h3>选拔流程</h3></div>
                            <p>我们会举行新生赛来进行选拔。<br>
                                希望大家能在新生赛之前好好磨练一下自己，可以去
                                <a href="https://www.hnitoj.cn/"
                                   style="color: #84ecff;font-size: 18px" target="_blank">HNITOJ</a>试试。<br>
                                <br>
                                如果选拔成功,你将获得一年的机
                                房入驻时间(帮你请一年的晚自习的假哦),有<br>
                                专业的老师专门辅导,教学。 除此之外,还拥有外出旅游(比赛)的机会。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="ab_head">
                                <h3>联系方式</h3>
                            </div>
                            <p>
                                联系邮箱：1731978934@qq.com<br>
                                交流Q群：876077941<br><br>
                                欢迎大家进群讨论问题！

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="main_service roomy-100">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="head_title text-center">
                        <h2>赛事事项</h2>
                        <div class="separator_auto"></div>
                        <p>语种选择 : C/C++/JAVA(三选一学习)<br>
                            比赛中,在规定的时间内应用三种语言设计出优秀的程序并解决问题多者拿奖。<br>
                            比赛机会众多，如：<br>
                            CCPC（全国大学生程序设计大赛）<br>
                            ICPC（世界大学生程序设计大赛）<br>
                            HNCPC（湖南省大学生程序设计大赛）<br>
                            蓝桥杯（全国软件专业人才设计与创业大赛）<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer id="footer" class="footer" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <h2>
                <span>我们相信</span><br><br>
                <span>通过持续的学习，你终将成为大犇!</span><br>
            </h2>
        </div>

    </div>
    <div id="footer1" style="color: rgb(255 69 0);   text-align: center; font-size: 13px; padding-bottom:18px;">
        <br><br>
        Designed By Coodyz/Hzh<br>
        ©2020 HNIT-ACM
    </div>
</footer>

</body>

<script src="../static/js/robotIndex.js"></script>
</html>