<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>下载</title>
    <link rel="shortcut icon"
          href="https://img2018.cnblogs.com/blog/1627056/201909/1627056-20190910154326049-394994833.jpg">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style>
        .auth {

            position: absolute; /**绝对定位**/
            left: 50%; /**左边50%**/
            top: 50%; /**顶部50%**/
            margin-top: -200px; /**上移-50%**/
            margin-left: -100px; /**左移-50%**/
        }
    </style>
</head>
<body>
<div class="auth">
    <h4>ACM招新 报名表下载</h4>
    <form action="" method="post">
        <label for="valid_code"></label>
        <input id="valid_code" name="valid_code" class="form-control" placeholder="输入提取码" type="password">
        <hr>
        ------------
        <button type="submit" class="btn btn-success text-right">下载</button>
        ------------
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    {% if "Error" not in message[1] %}
                        <div class="alert alert-info">
                            <strong></strong>
                        </div>
                    {% endif %}
                    {% if "Error" in message[1] %}
                        <div class="alert alert-danger">
                            <strong></strong>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
</div>
</body>
</html>